/*Stylesheet*/

body {
	margin: 0 auto;
}
.container {
	width: 80%;
	margin: 0 auto;
}
.head {
	background-color: #525252;
	padding: 10px;
	text-align: center;
	color: #fff;
}
.form {
	padding: 20px 10px;
	text-align: center;
}
.results {
	padding: 10px;
}
span {
	color: red;
}
.form form input[type="number"] {
	padding: 5px;
	border-radius: 0px;
	border: 1px solid gray;
}
.submit-button {
	background: #1f4e79;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 2px;
	cursor: pointer;
	padding: 10px 20px;
	margin: 10px 5px 25px;
	text-decoration: none;
}